# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/
.miniconda/
.venv_gpu/

# Data files
# CSV, Excel 파일은 제외하지만 pkl 파일은 포함
*.csv
*.xlsx
*.xls

# Logs
*.log

# Environment variables
.env
kakao_token.json
kakao_config.json

# Streamlit secrets
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Installers
miniconda_installer.exe
*.exe
*.msi

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
".streamlit/secrets.toml" 
".streamlit/secrets.toml" 
